body {background-color:#4A525A; color:#FFF; font-family: Helvetica, Arial, sans-serif;}
h1 {font-style:italic; color: #CCC; font-size:1.5em; text-shadow:#000 0 0 5px;}
#result {font-size:15em; font-weight:bold; margin:0; text-shadow:#000 0 0 10px;}