body {background-color:#434950; color:#FFF; font-family: Helvetica, Arial, sans-serif; margin: 20px; padding: 0px;}
h1, h2 {color: #EEE; font-style:italic; font-weight: 900; font-size:1.5em; text-shadow:#333 0 0 3px; margin: 0px; padding: 0px; display:inline;}
h1 {float: right;}
h2 {margin:0px; font-size:1em;}
#result {font-size:15em; font-weight:bold; margin:0px; text-shadow:#111 0 0 10px; display: inline;}