!!! 5
%html{:lang => "en"}
  %head
    %title Is today Monday?
    = stylesheet_link_tag :all

  %body
    %h1 Is today Monday?
    %p#result= Date.today.strftime("%A") == "Monday" ? "Yes!" : "No"
    
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5771210-1']);
    _gaq.push(['_trackPageview', 'Is today Monday?']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>