!!! 5
%html{:lang => "en"}
  %head
    %title Is today Thursday?
    = stylesheet_link_tag :all

  %body
    %h1 Is today Thursday?
    %p#result= Date.today.strftime("%A") == @day ? "Yes!" : "No"
    %h2=Date.today.strftime("%A") == @day ? "Today is " << @day << ", a great day." : "Today is not " << @day << ", it's " << Date.today.strftime("%A").to_s << "."
      
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5771210-1']);
    _gaq.push(['_trackPageview', 'Is today Thursday?']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>